/* web font */
@font-face{
  font-family: "Titan One";
  font-style: normal;
  font-size:16px;
  src: url('./fonts/TitanOne-Regular.ttf');
}


/* general setting */
body{
  margin: 0;
  padding: 0;
  background-color: lightyellow;
  line-height: 1.5;
  color: black;
}


/* container wrapper */
#container{
  margin: 10px auto; 
  padding: 0 20px; 
  min-height: 100vh;
}



/* link state (Global) */
a:link{
  color: rebeccapurple;
  text-decoration: underline;
}

a:visited{
  color: royalblue;
}

a:hover{
  color: whitesmoke;
  background-color: darkgoldenrod;
  text-decoration: none;
  padding: 4px;
  border-radius: 5px;
}

a:active{
  color: darkorange;
  background-color: peru;
  border-radius: 5px;
}


/* headers & navigation & footer (override global)*/
header nav{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;           /* line wrapping */
  gap: 10px;
  font-size: 15px;
  font-family: 'Georgia';
}

header nav a:visited{
  color: royalblue;
  text-decoration: none;   /* nav 不要下划线 */
  background: transparent;
  padding: 0;
}

header nav a:hover{
  color: whitesmoke;
  background-color: goldenrod;
  padding: 4px;
  border-radius: 5px;
}

header nav a:active{
  color: whitesmoke;
  background-color: peru;
  border-radius: 5px;
}


/* headings */
h1{
  background-color: lightblue;
  text-align: center;
  font-size: 48px;
  font-family: "Titan One";
  margin: 10px;
  padding: 3px;
  border-radius: 8px;
}

h1 a:hover{
  color: whitesmoke;
  background-color: goldenrod;
  padding: 4px;
  border-radius: 5px;
}

h2{
  display: inline-block; 
  background-color: #e4cef5;
  text-align: left;
  font-size: 28px;
  margin: 0 10px 10px 10px;
  padding: 3px;
  border-radius: 5px;
}

#footer{
  clear: both;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  font-family: 'Georgia';
  padding-bottom: 5px;
}

.footer-main {
  font-weight: 500;
}

.footer-credit {
  font-size: 14px;
  margin-top: 6px;
}



/* main content: MOBILE-FIRST */

/* set main to default block container */
main{
  padding: 20px 10px;
  max-width: 1200px;
  margin: 0 auto;
}

/* set text and images vertically */
main:not(.homepage-grid) > section{
  display: grid;
  grid-template-columns: 1fr;   /* mobile 1 column */
  gap: 20px;
  padding: 20px;
}

.homepage-grid{
  display: grid;
  grid-template-columns: 1fr;   /* mobile 1 column */
  gap: 20px;
}


/* article style */
article{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

article p{
  margin-bottom: 1em;
}

/* images style */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 6px;
}


/* contact form + video */
.contact-media {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 20px;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 30px;
  max-width: 1000px;
}


/* homepage images, vertical on mobile, horizontal on laptop */
.homepage-img{
  display: flex;
  flex-direction: column;       /* mobile: column */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  border-radius: 8px;
  box-shadow:0 2px 4px rgba(0,0,0,0.25)
}


/* contact form box */
.contact-form{
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);  
}

.contact-form label {
  font-weight: bold;
  display: block;
  margin-top: 8px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.contact-form input[type="submit"]:hover {
  background-color: violet;
}


/* video box */
.contact-video {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.contact-video video {
  width: 100%;
  border-radius: 10px;
}


/* set content images to be flexible width*/
.content-img{
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 8px;
  box-shadow:0 2px 4px rgba(0,0,0,0.25)
}


/* homepage style */
.whyEsg{
  background-color: lavender;
  border-radius: 10px;
  padding: 15px 15px;
  margin: 20px 0;
}

.whyEsg ul{
  margin: 10px;
  padding-left: 20px;
}

/* set three pillar to be vertical on mobile, horizontal on laptop*/
.esgDef-pillars{
  display: flex;
  flex-direction: column;       /* mobile: column */
  justify-content: space-between;
  gap: 25px;
  margin-top: 20px;
  padding: 10px;
  background-color: lavender;
  border-radius: 8px;
}

.esgDef-pillars h3{
  color: black;
  text-align: left;
  font-size: 24px;
  margin: 10px;
  padding: 3px;
  border-radius: 4px;
}

.esgDef p{
  padding: 3px;
}

.SDGs{
  max-width: 100%;
  height: auto;
  margin: 30px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow:0 2px 4px rgba(0,0,0,0.25)
}


.SDGs ul{
  text-align: left;
  columns: 2;
  gap: 30px;
  margin-top: 10px;
  padding-left: 20px;
}

.SDGs li{
  margin-bottom: 5px;
}


/* bottom content */
.bottomContent {
  background-color: #fae1e3;
  padding: 20px;
  border-radius: 8px;
}

.bottomContent h2 {
  margin-bottom: 10px;
}

.bottomContent ul {
  padding-left: 20px;
}

.bottomContent li {
  margin-bottom: 8px;
}


/* for laptop and larger screen */
@media only screen and (min-width: 900px){

  #container{
    padding: 0 10px;
  }

  /* piller page */
  main:not(.homepage-grid) > section {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
  }

  /* homepage main */
  .homepage-grid{
    grid-template-columns:1fr 2fr;   /* links on the left and pictures on the right */
    align-items: flex-start;
  }

  /* vertical homepage image on larger screen */
  .homepage-img{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /* 3 pillar pages, horizontal on larger screen */
  .esgDef-pillars{
    flex-direction: row;
  }

  .contact-media {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

}




/* ================ JavaScript Sections ================ */
/* for Toggle Theme Color (Eye-Care Mode) */
.eyeCareMode {
  background-color: #d8edd8;
  color: #2a5c32;
}

.eyeCareMode header nav {
  background-color: #d6eadf;
}

.eyeCareMode h1 {
  background-color: #cfe8d8;
}

.eyeCareMode h2 {
  background-color: #d8efe3;
}

.eyeCareMode article {
  background-color: #f3f8f5;
  border: 1px solid #cfe7d8;
}

.eyeCareMode a {
  color: #2d6846;
}


/* for Button itself */
.interactive-btn {
    font-family: "Titan One";
    font-size: 18px;     
    padding: 10px 18px;
    border-radius: 12px;
    background: white;
    border: 2px solid lightgray;
}

/* hover */
.interactive-btn:hover {
    background: #f0f7e8;
    border-color: #b3d9a1;
}


/* for button container (to centralize them)*/
.interactive-box {
    display: flex;
    justify-content: center; /* centeralize horizontally */
    gap: 20px; /* space between buttons */
    margin: 40px auto 20px auto;
    text-align: center;
}

/* for fun fact box and daily message*/
#funFactBox {
    margin: 20px 0 20px 40px;
    padding: 14px 20px;
    max-width: 80%;
    font-size: 17px;
    background: #f7f7ff;
    border-left: 5px solid lavender;
    border-radius: 6px;
    display: none;  /* deafult to not display */
}


#dailyMessage {
    margin: 20px 0 40px 40px;
    padding: 14px 20px;
    max-width: 80%;
    text-align: left;
    background: #d8efe3;
    border-left: 5px solid #c0d9a8;
    font-size: 17px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}



